<header class="page-header">
  <%= render "shared/page_header" %>
</header>

<div class="row">
  <div class="col-md-4">[placeholder]</div>
  <div class="col-md-8">
    <h3>Hungry Now???</h3>
    <p>
      Find the restaurant and service to deliver food to you the fastest within
      San Francisco.
    </p>
    <p>
      Enter your address, or zip code to get started.
    </p>
  </div>
</div>
