<div class="panel panel-success">
  <div class="panel-heading text-center">FAQs</div>
  <ul class="list-group">
    <li class="list-group-item">
      <strong>No Results</strong>
      <p>
        Results should only include restaurants that are open, accepting orders and have a delivery service currently operating.
      </p>
    </li>
    <li class="list-group-item">
      <strong>Delivery times are different that services website</strong>
      <p>
        Currently delivery distance is aproximated. A future version of this app will provide a more accurate time based on your zip code. However, results are still displayed by their relative times.
      </p>
    </li>
    <li class="list-group-item">
      <strong>Restaurant is currently not accepting orders</strong>
      <p>
        We're aware of this error and are working to correct it.
      </p>
    </li>
  </ul>
</div>
