<div class="panel panel-success">
  <div class="panel-heading text-center">Prepared Food Services</div>
  <ul class="list-group">
    <% if !@delivery_times["spoon_rocket"].nil? %>
    <li class="list-group-item" style="background-color: rgb(187,63,51);">
      <a href="https://www.spoonrocket.com/">
        <img src="https://www.spoonrocket.com/images/header-logo-6293a726.png" height="40" />
      </a>
        <h4 class="prepared-food-time">
          <%= @delivery_times["spoon_rocket"] %>
          <span class="glyphicon glyphicon-time"></span>
        </h4>
    </li>
    <% end %>
    <a href="https://munchery.com/">
      <li class="list-group-item" style="background-color: rgb(255,255,255);">
        <img src="https://assets2.munchery.com/assets/logo-04c8b7205146c15620d0e5bad4e33bd6.svg" height="40" class="center-block"/>
      </li>
    </a>
  </ul>
</div>
