<div class="panel panel-success">
  <div class="panel-heading text-center">Restaurant Delivery Services</div>
  <ul class="list-group">
    <a href="https://www.orderaheadapp.com/">
      <li class="list-group-item" style="background-color: rgb(31,32,33);">
        <img src="http://appbalo.com/wp-content/uploads/2014/09/OrderAhead.png" height="40" class="center-block" />
      </li>
    </a>
    <a href="http://www.seamless.com/">
      <li class="list-group-item" style="background-color: rgb(167,39,43);">
        <img src="http://www.seamless.com/img/logo.png?417ca9" height="40" class="center-block"/>
      </li>
    </a>
    <a href="http://www.trycaviar.com/">
      <li class="list-group-item" style="background-color: rgb(255,255,255);">
        <img src="https://img.trycaviar.com/lHtPNA-UFwis6qQIR4iXl0OOj_0=/https://s3.amazonaws.com/trycaviar.com/logos/caviar_orange_wordmark.png" height="40" class="center-block"/>
      </li>
    </a>
  </ul>
</div>
