<header class="page-header">
  <%= render "shared/page_header" %>
</header>

<table class="table">
  <thead>
    <tr>
      <th colspan="2">Name</th>
      <th>Tags</th>
      <th>Est. Time</th>
      <th>Service</th>
    </tr>
  </thead>
  <tbody>
    <%= render "restaurant" %>
  </tbody>
</table>
